<html>
    <head>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <h1>add stud</h1>
        <form method="post" action="/add">
            <table>
            <tr>
                <td>
                    name:
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    rollno:
                </td>
                <td>
                    <input type="text" name="rno">
                </td>
            </tr>
            <tr>
                <td>
                    age:
                </td>
                <td>
                    <input type="text" name="age">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>
            </table>
        </form>
    </body>
</html>
