<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>
         <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required>
                <button type="submit">Add i tem</button>
            </form>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
         </div>
     </body>

</html>