<html>
    <head>

    </head>
    <body>
        <form method="post" action="/add" enctype="multipart/form-data">
            <table>
                <tr>
                    <td><h2>Personal information</h2></td>
                </tr>
                <tr>
                    <td>
                        Image
                    </td>
                    <td>
                        <input type="file" name="img">
                    </td>
                </tr>
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        email
                    </td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        mobile no
                    </td>
                    <td>
                        <input type="number" name="phno">
                    </td>
                </tr>
                <tr>
                    <td>
                        address
                    </td>
                    <td>
                        <textarea name="address">

                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        state
                    </td>
                    <td>
                        <input type="text" name="state">
                    </td>
                </tr>
                <tr>
                    <td>
                        city
                    </td>
                    <td>
                        <input type="text" name="city">
                    </td>
                </tr>
                <tr>
                    <td><h2>Education</h2></td>
                </tr>
                <tr>
                    <td>
                        qualification
                    </td>
                    <td>
                        <input type="text" name="qualification">
                    </td>
                </tr>
                <tr>
                    <td>
                        experience
                    </td>
                    <td>
                        <input type="number" name="experience">
                    </td>
                </tr>
                <tr>
                    <td>
                        lastCompanyName
                    </td>
                    <td>
                        <input type="text" name="lastCompanyName">
                    </td>
                </tr>
                <tr>
                    <td>
                        expectedSalary
                    </td>
                    <td>
                        <input type="number" name="expectedSalary">
                    </td>
                </tr>
                <tr>
                    <td>
                        applyFor
                    </td>
                    <td>
                        <input type="text" name="applyFor">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>